header {
    padding-top: 10px;
    padding-bottom: 1px;
    background-color: white;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 20px;
}

nav a {
    color: rgb(19, 18, 20);
    text-decoration: none;
    font-size:larger;
}

nav a:hover{
    color: rgb(126, 118, 133);
}

body{
    background-color: rgb(19, 18, 20);
    color: white;
    font-family: monospace;
    margin: 0;
}

h2 {
    margin: 45px;
    text-align:center;
    font-weight:normal;
}

h4 { 
    text-align:center;
}

p {
    font-size: 14px;
}

.section_title {
    font-size: 17px;
    text-align:center;
}

.info_container {
    border: 3px solid white;
    border-radius:15px;
    padding: 10px;
    margin: 20px 300px;
}

#contact_container {
    width:207px;
    margin: 0 auto;
}

.carousel-img {
    height: 300px;
    width: auto;
    display: block;
    margin: 10px auto;
    border: 3px solid white;
    border-radius: 20px;
}

.card{
    margin: auto;
    background: rgb(126, 118, 133);
    border: 3px solid white;
    color:white;
    border-radius: 20px;
}

.project-card{
    max-width: 900px;
}

.contact-card{
    max-width: 225px;
    height: 65px;
    padding: 5px 5px;
}

.about-card{
    max-width: 900px;
}

.about-img{
    width: 100%;
    height: auto;
    object-fit: cover;

    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: 3px solid white;
}

.about-img-col{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

footer {
    padding-top:10px;
    text-align: center;
}

