body{
    background-color: rgb(19, 18, 20);
    color: white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

h2 {
    text-align:center;
    font-weight:normal;
    border-radius:15px;
}

p {
    margin:0;
}

.info_container {
    border: 3px solid white;
    border-radius:15px;
    padding: 5px 10px;
    margin: 20px 300px;
}

#contact_container {
    width:170px;
    margin: 0 auto;
}

img{
    max-width: 100%;
    border: 3px solid white;
    border-radius:15px;
    width:250px; 
    display:block; 
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: white;
    color: rgb(19, 18, 20);
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 20px;
}

nav a {
    color: black;
    text-decoration: none;
    font-size:larger;
}

footer {
    padding-top:10px;
    text-align: center;
}

